body {
   font-family: 'Arimo', sans-serif;
;
    color:darkslategrey     
}


.container {
    max-width: 800px;
    margin: auto;
}

h1
{font-family: 'Bellefair', serif;
font font-size:48px;
    color:chocolate
}
h3 {

    color: darkgreen
}

.button {
    background: #08c;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
}
