body {
   font-family: 'Arimo', sans-serif;
;
    color:darkslategrey    
}


.container {
    max-width: 800px;
    margin: auto;
}

h1
{font-family: 'Bellefair', serif;
font font-size:48px;
    color:chocolate
}

h2{font font-size:48px;
    color:chocolate
}
h3 {   color:chocolate

    color: darkgreen
}

.button {
    background: #08c;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
}


    
}


coler{
    
}

.cta {
    background: beige;
    font-size: 29px;
    padding: 35px;
    text-decoration: none
    paddung:14px;}

    .cta h3
coler:default
