body {
    
font-family: 'Alef', sans-serif;
}
h1, h2, h3, h4, button {
font-weight: 400;
font-family: 'Arimo', sans-serif;
font-family: 'Secular One', sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
}
.about img {
  display: block;
    line-height: 1.1;
}




H1 {
    font-size: 48px;
    li
}

.button {
  color: crimson;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 14px 20px;
  display: inline-block;
  margin-top: 10px;
 transition: .3s;
border-radius: 10px;

}

.button:hover {
  background: #fff;
  color: #000;
}

<img src="img/logo.svg" alt="לביא - עיצוב אתרי אינטרנט" class="logo">

.logo {
         <img src="img/logo.svg.svg" alt="ישראלה ישראלי">

  max-width: 150px;
  display: block;
  margin: 10px auto;
}

