body {

    font-family: 'Alef', sans-serif;
}

h1,
h2,
h3,
h4,
button {
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
    font-family: 'Secular One', sans-serif;
}

.about{
    background:#95D2E6;
}

.container {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
}

.about img {
    display: EB7F23;
    line-height: 1.1;
}




H1 {
    font-size: 48px;
}

.button {
    color: crimson;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 10px;
    transition: .3s;
    border-radius: 10px;

}

.button:hover {
    background: #722B34;
    color: #000;
}
.about{background:
     background:#722B34;
    color: #000;color:}

.logo {
    max-width: 150px;
    display: block;
    margin: 10px auto;
}

.gallery img {
    display: block;
}

.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    color: gray;
}

.gallery img {
    display: block;
}

h2 {
    font-size: 36px;
    text-align: center;
}
.contact{
    background: #F4BAC3;
    font-size: 24;
  text-align: center;
  margin-top: 60px;
  padding: 40px 0;
}
.contact a:hover {
  opacity: 0.7;
}
a {
  color: #000;
}


.contact ul {
  list-style: none;
  padding: 0;
}
.contact li {
  margin-bottom: 7px;
}


.footer {
  background: #F9F9F9;
  text-align: center;
  padding: 20px 0;
}
.footer a {
  margin: 0 10px;
}
